@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000319;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.yr-gradient {
  background: rgb(239, 118, 10);
  background: linear-gradient(
    90deg,
    rgba(239, 118, 10, 1) 0%,
    rgba(239, 45, 8, 0.9715099715099715) 77%
  );
}
.gray-gradient {
  background: rgb(28, 28, 27);
  background: linear-gradient(
    0deg,
    #01083de7 16%,
    #0e18546f 62%,
    #ffffff40 100%
  );
}

.flexbox {
  @apply flex justify-center items-center;
}

.h1 {
  @apply text-xl font-bold;
}

.h2 {
  @apply text-[1rem] font-bold;
}

.glorious {
  @apply relative z-20 bg-gradient-to-b from-neutral-200 to-neutral-500 bg-clip-text text-2xl font-bold text-transparent sm:text-3xl;
}
.title {
  @apply bg-gradient-to-b from-neutral-200 to-neutral-500 bg-clip-text text-transparent font-bold text-xs sm:text-sm lg:text-lg;
}
.movie-sum {
  @apply text-xs text-gray-400;
}

.gray-gr {
  @apply bg-gradient-to-b from-neutral-200 to-neutral-500 bg-clip-text text-transparent;
}

.noscroll::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background: transparent;
}
.noscroll::-webkit-scrollbar-thumb {
  width: 1px;
  height: 1px;
  background: transparent;
}

.txt-sd {
  text-shadow: 1px 0 5px #51582b;
}

.glass {
  background: rgba(13, 13, 13, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(197, 194, 194, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(131, 129, 129, 0.49);
  z-index: 10;
}

.no-outfill:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  color: #000 !important;
}
